__pycache__/
.pytest_cache/
*.pyc
models/*
!models/.gitkeep
reports/*
!reports/.gitkeep
input/*
!input/.gitkeep
training_images/**
!training_images/
!training_images/level1/
!training_images/level1/.gitkeep
!training_images/level2/
!training_images/level2/.gitkeep
!training_images/level3/
!training_images/level3/.gitkeep
!training_images/unclear/
!training_images/unclear/.gitkeep
